<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032561728589-apehvmc20d1ftkh83ap9kjkcf6e8sl27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032561728589-apehvmc20d1ftkh83ap9kjkcf6e8sl27</string>
	<key>API_KEY</key>
	<string>AIzaSyCV59nlrxgAk8Ys-j5khb53V4XAUdUr5qY</string>
	<key>GCM_SENDER_ID</key>
	<string>1032561728589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoreLive</string>
	<key>PROJECT_ID</key>
	<string>score-live-777</string>
	<key>STORAGE_BUCKET</key>
	<string>score-live-777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032561728589:ios:83c1c5321d957a9b191004</string>
</dict>
</plist>